* {
    margin:0;
    padding:0;
    

 }

 .navbar-brand {
    font-size:45px;
    color:white;
 }
 .nav-link {
    font-size:22px;
    color:white;
    
 }

 body {
   margin-left:50px;
   margin-right:50px;
    z-index:-1;
   background-image:linear-gradient(to right, rgb(135, 126, 126), rgb(27, 25, 25));
 }
 .underline {
    width:100%;
    border: solid .5px black;
    margin-top:10px;
    margin-bottom:10px;
 }
 .firstpics img {
    min-height:500px;
    min-width:1300px;
 }
 .firstpic {
    display:flex;
    justify-content: space-around;
    font-size:16vw;
 }

 .secondpic {
    display:flex;
    justify-content: space-around;
    font-size:16vw;
 }
 .thirdpic {
    display:flex;
    justify-content: space-around;
    font-size:16vw;
 }

 .firstpic h2 {

    content:"";
    display:inline-block;
    width:100%;
    background: -webkit-linear-gradient(rgb(218, 166, 11), rgb(13, 94, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .secondpic h2 {
    content:"";
    display:inline-block;
    width:100%;
    background: -webkit-linear-gradient(rgb(218, 166, 11), rgb(13, 94, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .thirdpic h2 {
    content:"";
    display:inline-block;
    width:100%;
    background: -webkit-linear-gradient(rgb(218, 166, 11), rgb(13, 94, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 /* ^^^ page 1 ^^^^ */


 .top {
    color:white;
 }
.container4 img {
   width:66%;
   margin:100px;
   
   min-width:400px;
   
    min-height:400px;
    max-height:400px;
    
}
.container5 img {
   width:70%;
   min-width:400px;
   margin:100px;
    min-height:400px;
    max-height:400px;
}

/* ^^^^ about page ^^^^ */

.center {
   margin-top:70px;
   color:white;
   text-align:center;
   font-size:25px;
}
.background2 {
   background-color:black;
   margin-left:150px;
   margin-right:150px;
   padding-bottom:25px;
}
.swole {
   padding:10px;
   font-size:35px;
}
.signup {
   text-align:center;
   font-size:40px;
   color:white;
}


.foot {
   background-color:black;
   padding-top:50px;
   padding-bottom:50px;
}

.gym {
   text-align:center;
   font-size:50px;
   color:white;

}