

.bigbox {
    background-color: rgb(242, 241, 241);
    z-index: -1;
    
    margin: auto;
    margin-top: 200px;
    width: 30%;
    border: 1px solid rgb(178, 178, 178);
    padding-left:10px;
    padding-right:10px;
    
    
}
.passwordcontainer {
    display: flex;
    margin:auto;
    padding-left: 5px;
    
}

.passwordchild {
    flex: 1;
    
    
}
.passwordchild a {
    
    color:blue;
}

.New-To-Amazon {
    margin: auto;
    width: 30%;
    text-align: center;
   
    
}

.Create-Account {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 1px solid rgb(139, 135, 135);
    background-color: rgb(227, 224, 224);
}
a {
    text-decoration: none;
    text-decoration-color: black;
}
.Continue {
    background-color: yellow;
    text-align: center;
    border: solid; 
    border-width: 1px;
    padding-top: 5px;
    
    margin: auto;
    margin-top: 15px;
}
li a {
    list-style-type: none;
    color:blue;
}
li {
    list-style-type: none;
}
.input-container {
    display:flex;
    justify-content:center;
    margin: auto;
}

input {
    margin: auto;
    width:100%;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}





.tiny {
    margin-top: 100px;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(165, 162, 162);
    margin-bottom: 75px;
}

.bottomcontainer {
    
    display:flex;
    justify-content: center;
    
    
}
.bottomchild {
   display:flex;
   margin:10px;
   
}

.last {
    display:flex;
    justify-content:center;
    padding:5px;
}